@font-face {
  font-family: "NB International";
  src: url("../components/assets/fonts/NB International Regular.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
  }
} */
html {
  height: 100%;
}
body {
  height: 100%;
  font-family: "NB International", sans-serif !important;
}

body p {
  font-family: "NB International", sans-serif !important;
}

body .ant-input {
  width: 100%;
  padding: 10px 15px;
  font-size: 1rem;
  font-family: "NB International", sans-serif !important;
}
body .ant-form {
  font-family: "NB International", sans-serif !important;
}
body .ant-form-item {
  margin: 0px;
}
body .ant-input-affix-wrapper {
  width: 100%;
  padding: 10px 15px;
  font-size: 1rem;
  font-family: "NB International", sans-serif !important;
}
button.ant-btn {
  width: 100%;
  padding: 10px 15px;
  font-size: 1rem;
  font-family: "NB International", sans-serif !important;
  height: inherit;
}

.ant-modal-footer button.ant-btn-primary {
  margin: 0px !important;
  background: black !important;
  margin-top: 10px !important;
}

button.ant-btn.pro {
  padding: 15px 15px;
}
